<!DOCTYPE>
{% load staticfiles %}
</body>
</html>
<html>
<head>
    <title>{% block title %}Jeanne Pierre{% endblock title %}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<!doctype html>
<html lang="en">
<head>
    <title>Front End</title>
    <meta content='Angular example app is a base project to start coding with Angular' name='description'>
    <meta charset="utf-8">

    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="canonical" href="http://angularexampleapp.com/">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script type="text/javascript" src="src/assets/invoice.js"></script>

</head>
</head>
<body>

 {% block content %} {% endblock content %}

{% verbatim %}
<body>
  <app-root></app-root>
</html>
{% endverbatim %}
            {% block js %}
    <script src="{% static 'frontend/main.js' %}"></script>
    <script src="{% static 'frontend/polyfills.js' %}"></script>
    <script src="{% static 'frontend/runtime.js' %}"></script>
    <script src="{% static 'frontend/styles.js' %}"></script>
    <script src="{% static 'frontend/vendor.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/hammerjs/2.0.8/hammer.min.js"></script>
            {% endblock js %}

</body>
</html>