# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/static/node_modules
/migrations/
/
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
__pycache__/


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

customer/migrations/
factory/migrations/
orders/migrations/
home/migrations/
jet/migrations/
todos/migrations/
customer/__pycache__/
factory/__pycache__/
orders/__pycache__/
todos/__pycache__/
/jpsiteapi/settings.py
/static/
/jpsiteapi/config.py
gunicorn.service
etc-nginx-sites-available-jpsiteapi
/gunicorn.service
/etc-nginx-sites-available-jpsiteapi