[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
six = "*"
django-cors = "*"
django-cors-headers = "*"
django-filter = "*"
django-grappelli = "*"

[dev-packages]

[requires]
python_version = "3.6"
